@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    --navy: #002772;
    --pink: #FDE2FF;
    --black: #1E1E1E;
    --magenta: #720060;
    --blue: #D6E6FF;
    --dark-gray: #3F3F3F;
    --gray: #DCDCDC;
    --white: #FFFFFF
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* skeleton */
.skeleton-thumbnail {
    width: 100%;
    height: 63vh;
    background-color: var(--gray);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skeleton-details-top {
    width: 100%;
    height: 20vh;
    background-color: var(--gray);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skeleton-details-bottom {
    width: 100%;
    height: 40vh;
    margin-top: 24px;
    background-color: var(--gray);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* unavailable product */
.product-unavailable-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-unavailable-container .cta-next {
    margin: 0px auto;
    border: 2px solid black;
    color: black;
}

/* available product */
.product-container {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 5%;
}
.product-thumbnail {
    height: 60vh;
}
.product-thumbnail > img {
    width: 100%;
}
.product-details {
    display: flex;
    width: 100%;
    height: 60vh;
    flex-direction: column;
    justify-content: space-between;
}
.product-details .title {
    font-size: 32px;
    font-weight: 600;
    color: var(--navy);
}
.product-details .sub-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 14px;
    font-size: 18px;
    color: var(--dark-gray);
}
.product-details .rating {
    display: flex;
    gap: 3px;
    align-items: center;
}
.rating > .circle {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: var(--navy);
}
.product-details .description {
    width: 100%;
    margin-top: 32px;
    font-size: 18px;
    color: var(--black);
}
.product-details .price {
    font-size: 32px;
    color: var(--navy);
    font-weight: 600;
}

/* general */
.cta {
    margin-top: 16px;
    width: 100%;
    display: flex;
    gap: 12px;
}
.cta > .cta-buy,
.cta > .cta-next {
    width: 35%;
    height: 36px;
    font-size: 16px;
    background-color: var(--navy);
    border-radius: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.cta > .cta-next {
    border: 2px solid var(--navy);
    color: var(--navy);
    background-color: var(--white);
}
.bg-blue {
    background: linear-gradient(180deg, var(--blue) 65%, var(--white) 50%);
}
.bg-pink {
    background: linear-gradient(180deg, var(--pink) 65%, var(--white) 50%);
}
.bg-gray {
    background: linear-gradient(180deg, var(--gray) 65%, var(--white) 50%);
}
.bg-white {
    background-color: var(--white);
}
.font-navy {
    color: var(--navy);
}
.font-pink {
    color: var(--pink);
}

/* animation */
@keyframes pulse {
    0%, 100% {
        opacity: .8;
    }
    50% {
        opacity: .3;
    }
}
